<?xml version="1.0" encoding="UTF-8" ?>

<mapper namespace="com.bin.lg.mapper.UserMapper">
    <select id="selectList" resultType="com.bin.lg.domain.User" parameterType="com.bin.lg.domain.User">
        select * from user where id=#{id} and username=#{username}
    </select>

    <select id="selectOne" resultType="com.bin.lg.domain.User"
            parameterType="com.bin.lg.domain.User">
        select * from user where id=#{id}
    </select>
</mapper>

